.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #57a01b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Form */

@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap");

body {
  /* background: skyblue; */

  /* background: linear-gradient(135deg, hsl(194, 42%, 53%) 0%, #939697 100%); */
  background: linear-gradient(135deg, hsl(335, 96%, 54%) 0%, #bb608b 100%);
  /* background: linear-gradient(135deg, #203A43 0%, #2C5364 100%); */

  font-family: "work sans";
}

h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 0, 200), 0 0 5px rgb(83, 0, 139);
}

h2 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 0, 221), 0 0 5px rgb(83, 0, 139);
}

h3 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 0, 157), 0 0 5px rgb(83, 0, 139);
}

.card {
  color: #d1079f;
}

html {
  font-size: 100%;
}

#loginform {
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 25px;
}

#headerTitle {
  text-align: center;
  font-family: "open sans", sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 0, 179), 0 0 5px darkblue;
}

.rowForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
}

.rowForm input {
  width: 80%;
  box-sizing: border-box;
  border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.rowForm input:focus {
  box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
  outline: none;
}

.rowForm input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.rowForm input:hover::-webkit-input-placeholder,
.rowForm input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.rowForm label {
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187, 187, 187, 0.9);
}

.rowForm button {
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34, 193, 195);
  background: linear-gradient(135deg, #0f2027 0%, #2c5364 100%);
  /* background: linear-gradient(90deg, #2c3e50 0%,     #bdc3c7 100%); */
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.rowForm button:hover {
  opacity: 0.8;
}

#button {
  padding-bottom: 1.5rem;
}

#iconGroup {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

#iconGroup a {
  margin: 0 0.6rem;
}

#alternativeLogin {
  text-align: center;
  padding-top: 2rem;
  margin-top: 1.5rem;
}
